<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cho</title>
    <link rel="stylesheet" href="static/account.css">
</head>
<body>
    <p><a class="logo" href="#">Cho</a></p> 
    <form method="POST" enctype="multipart/form-data" class="form">
        <input type="file" id="input__file" name="pdf_file" accept="application/pdf" required>
        <label for="input__file" class="input__file-button">
            <span class="input__file-icon-wrapper"><img class="input__file-icon" src="static/add.svg" alt="Выбрать файл" width="25"></span>
            <span class="input__file-button-text">Выберите файл</span>
         </label>
        <button type="submit">Загрузить PDF</button>
    </form>
</body>
</html>