<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cho</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="wrepper">
        <header class="container">
            <sspan class="logo">Cho</sspan>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="/singing">Account</a></li>
                    <li class="btn"><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="container tems">
            <a href="#" class="see-all">SEE ALL</a>
            <h3>Topics</h3>
            <div class="topic">
                <div class="block">
                    <a href="/watch/1"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
            </div>
            <div class="topic">
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
            </div>
            <div class="topic">
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
                <div class="block">
                    <a href="#"><img src="static/kiwi.svg" alt=""></a>
                    <span> 55</span>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>