<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cho</title>
    <link rel="stylesheet" href="static/style_recomindation.css">
</head>

<body>
    <div class="wrepper">
        <header class="container">
            <sspan class="logo">Cho</sspan>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#" class="account">Account</a></li>
                    <a href="/load" class="write">write your article</a>
                </ul>
                <div class="out_in">
                    <a href="#" class="logout-btn">Выйти</a>
                    <a href="#" class="login-btn">Войти</a>
                </div>
            </nav>
            
        </header>
        <div class="base">
            <div class="types">
                <h3>Popular</h3>
                <h3>New</h3>
            </div>
            <div class="block">
                <div class="recommendation">
                    <div class="article">
                        <img src="static/heart.svg" alt="" class="heart">
                        <span class="text1">кол-во сердец</span>
                        <li class="text2"><a href="#">название</a></li>
                    </div>
                    <hr>
                    <div class="article">
                        <img src="static/heart.svg" alt="" class="heart">
                        <span class="text1">кол-во сердец</span>
                        <li class="text2"><a href="#">название</a></li>
                    </div>
                    <hr>
                    <div class="article">
                        <img src="static/heart.svg" alt="" class="heart">
                        <span class="text1">кол-во сердец</span>
                        <li class="text2"><a href="#">название</a></li>
                    </div>
                    <hr>
                    <div class="article">
                        <img src="static/heart.svg" alt="" class="heart">
                        <span class="text1">кол-во сердец</span>
                        <li class="text2"><a href="#">название</a></li>
                    </div>
                </div>
                <hr>
                <div class="recommendation">
                    <div class="article">
                        <img src="static/heart.svg" alt="" class="heart">
                        <span class="text1">кол-во сердец</span>
                        <li class="text2"><a href="#">название</a></li>
                    </div>
                    <hr>
                    <div class="article">
                        <img src="static/heart.svg" alt="" class="heart">
                        <span class="text1">кол-во сердец</span>
                        <li class="text2"><a href="#">название</a></li>
                    </div>
                    <hr>
                    <div class="article">
                        <img src="static/heart.svg" alt="" class="heart">
                        <span class="text1">кол-во сердец</span>
                        <li class="text2"><a href="#">название</a></li>
                    </div>
                    <hr>
                    <div class="article">
                        <img src="static/heart.svg" alt="" class="heart">
                        <span class="text1">кол-во сердец</span>
                        <li class="text2"><a href="#">название</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let hideTimeout;
    
        document.querySelector('.account').addEventListener('mouseover', function() {
            clearTimeout(hideTimeout); // Отменяем таймер, если курсор наводится снова
            document.querySelector('.out_in').style.display = 'flex';
        });
    
        document.querySelector('.account').addEventListener('mouseout', function() {
            let outInElement = document.querySelector('.out_in');
    
            // Установим таймер на 3 секунды перед скрытием
            hideTimeout = setTimeout(function() {
                outInElement.style.display = 'none'; // Или 'block' в зависимости от ваших требований
            }, 1700);
        });
    </script>
</body>
</html>