<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cho</title>
    <link rel="stylesheet" href="css/style_recomindation.css">
</head>

<body>
    <div class="wrepper">
        <header class="container">
            <sspan class="logo">Cho</sspan>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="#">My articles</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </nav>
        </header>
    </div>
</body>
</html>