<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cho</title>
    <link rel="stylesheet" href="static/style_recomindation.css">
</head>

<body>
    <div class="wrepper">
        <header class="container">
            <sspan class="logo">Cho</sspan>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">My articles</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="info">
        <div class="writing ">
            <h1 class="Name">article title</h1>
            <span class="titles">Nick of author</span>
            <p>brief description</p>
            <li><a href="#">Read</a></li>
        </div>
        <hr>
        <div class="reviews">
            <h2>reviews</h2>
        </div>
    </div>
</body>
</html>